<footer class="footer-area-2 sectionFooter">
  <div class="container">
      <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-4 col-6 col-sm-4">
              <div class="footer-widget footer-widget-2">
                  <h3>Trust</h3>
                  <ul>
                      <li><a href="#">Sobre nós</a></li>
                      <li><a href="#">Trust na mídia</a></li>
                      <li><a href="#">Perguntas frequentes</a></li>
                      <li><a href="#">Políticas de privacidade</a></li>
                      <li><a href="#">Segurança</a></li>
                      <li><a href="#">Área de desenvolvedores</a></li>
                      <li><a href="#">Ouvidoria - Canal de Denúncia</a></li>
                      <li><a href="#">2ª via do Boleto</a></li>
                      <li><a href="#">Assessoria de imprensa</a></li>
                      <li><a href="#">Trabalhe conosco</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-6 col-sm-4">
              <div class="footer-widget footer-widget-2">
                  <h3>Para empresas</h3>
                  <ul>
                      <li><a href="#">Conta de Pagamento Digital</a></li>
                      <li><a href="#">Antecipação</a></li>
                      <li><a href="#">Empréstimos</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-6 col-sm-4 d-none d-md-block">
              <div class="footer-widget footer-widget-2">
                  <h3>Central de Ética e Compliance</h3>
                  <ul>
                      <li><a href="#">DPO responsável: Marcelo Otelac</a></li>
                      <li><a href="#">E-mail: dpo@trust.com.vc</a></li>
                      <li><a href="#">Contato: +55 11 9.9153-6872</a></li>
                      <li><a href="#">Políticas de Privacidade</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12">
              <div class="footer-widget footer-top-b footer-widget-2 footer-w-2">
                  <div class="logo">
                      <a href="index.html"> <img src="../../../assets/img/logo/logo1.png" alt=""> </a>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <div class="copyright text-center mt-120">
                  <p>CNPJ: 22.575.466/0001-58 . Contato: 0800878 8338 . E-mail: atendimento@trusthub.com.br
                    <br>  Copyright © Todos os direitos reservados.</p>
              </div>
          </div>
      </div>
  </div>
</footer>