

<!-- header start -->
<header>
    <app-header></app-header>
</header>
<!-- header end -->


 <!-- conteúdo start --> 
  
<main>
  
  <section id="home" class="slider-area slider-height-2 position-relative sectionHome">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5">
                <div class="slider-text slider-text-2 slider-content-space-2">
                    <h2 class="wow fadeInLeft text-green" data-wow-delay=".3s"> <img _ngcontent-bup-c1="" alt="Ico Trust" src="./assets/img/icon/titulo_icon.png"> Trust é tudo</h2>
                    <h2 class="wow fadeInLeft text-white" data-wow-delay=".3s">menos banco.</h2>
                    <span class="text-white">Soluções financeiras 100% digitais e integradas.
                        A gente confia no seu potencial, e você? </span>
                </div>
            </div>
            <div class="col-xl-4 offset-xl-1 col-lg-7 offst-lg-1">
                <div class="slider-img-2 position-relative d-none d-lg-block">
                    <img class="wow fadeInUp" data-wow-delay=".6s" alt=""
                        src="assets/img/slider/slider.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="sevrice-area sevrice-area-2 pt-50">
     <div id="card" class="card-area margin-top-align">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-card">
                        <div class="card-img">
                            <img src="assets/img/itens/contaDigital.jpg" alt="">
                        </div>
                        <div class="card-info text-center mb-30">
                            <div class="card-body">
                                <h3><a href="#">Conta Digital</a></h3>
                                <p>É tudo menos banco.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-card">
                        <div class="card-img">
                            <img src="assets/img/itens/antecipacao.jpg" alt="">
                        </div>
                        <div class="card-info text-center mb-30">
                            <div class="card-body">
                               
                                <h3><a href="#">Antecipação</a></h3>
                                <p>Antes de tudo, o melhor para seu negócio.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-card">
                        <div class="card-img">
                            <img src="assets/img/itens/emprestimos.jpg" alt="">
                        </div>
                        <div class="card-info text-center mb-30">
                            <div class="card-body">
                                <h3><a href="#">Empréstimos</a></h3>
                                <p>Em até 2 horas a gente aprova o seu créditos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</main>
<!-- conteúdo end -->

<!-- footer start -->
<app-footer></app-footer>
<!-- footer end -->